.headerDivider {
  border-left:1px solid #202225; 
  border-right:1px solid #202225; 
  height:60px;
  margin: 0 2rem;
}

/* header */

.server-dashboard {
  width: 100%;
  min-height: calc(100vh - 80px);
  display: flex;
  flex-direction: column;
}

.server-header {
  padding: 0.5rem 0;
  background: #2b2f33;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.server-header .header-content {
  width: 80%;
  max-width: 1000px;
}

.server-header .header-content .header-title {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.header-title .server-name {
  display: flex;
  flex-flow: column wrap;
  align-items: center;
}

.server-header .server-img {
  height: 50px;
  min-width: 50px;
  margin: 0.8rem;
  border-radius: 50%;
  border: rgb(255,255,255) 2px solid;
  background: #34383c;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* header nav */
.server-header-nav {
  display: flex;
  justify-content: flex-end;
  width: 100%;
  min-height: 100%;
  flex: 1; 
}

.server-header-menu .menu-list {
  display: flex;
  flex-flow: row wrap;
}

.menu-list .menu-links {
  margin: 0 2rem;
  padding: 1rem;
}

.menu-links.active {
  border-bottom: rgb(255,255,255) solid 3px;
}

.server-home-container {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding: 1.5rem 0;
}

@media screen and (max-width: 900px) {
  .server-header .header-content {
    width: 100%;
  }

  .headerDivider {
    margin: 0.5rem;
  }

  .server-header-nav {
    justify-content: center;
  }

  .menu-list .menu-links {
    margin: 0 0.5rem;
    padding: 0;
  }

  .server-home-container .server-home-contents {
    width: 100%;
  }
}