.server-container {
  display: flex;
  position: relative;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.server-container .select-server{
  margin: 1.5rem 0 0;
}

.servers {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
  width: 80%;
  flex: 1;
}

.servers .server {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: 1.3rem;
  width: 200px;
}

.servers .server .server-img {
  height: 70px;
  width: 70px;
  margin: 0.8rem;
  border-radius: 50%;
  border: rgb(255,255,255) 2px solid;
  background: #34383c;
  display: flex;
  justify-content: center;
  align-items: center;
}

.active {
  visibility: visible;
  opacity: 1;
}

@media screen and (max-width: 900px) {
  .servers .server {
    margin: 0.5rem;
  }

  .servers .server .server-img {
    height: 40px;
    width: 40px;
    margin: 0.5rem;
  }
}