* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

body {
  color: rgb(255, 255, 255);
  background: #34383c;
  height: 100%;
  font-size: 1rem;
}

h1, h2, h3, h4, h5 {
  font-weight: 100;
}

.ml-2 {
  margin-left: 2rem;
}

.App {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
  color: rgb(255, 255, 255);
}

.login-button {
  background-color: #7289da;
  padding: 0.5rem 1rem;
  border-radius: 3px;
}

.navbar-spacer {
  margin-top:80px;
  width:100%;
  display: flex;
  flex-direction: column;
}

.spacer {
  flex: 1;
}

button {
  background: none;
	color: inherit;
	border: none;
	padding: 0;
	font: inherit;
	cursor: pointer;
  outline: inherit;
  text-align: left;
}

button.useful:active {
  background-color: #3e8e41;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}

button.delete {
  padding: 0.5rem 1.3rem;
  background: rgb(255, 82, 82);
  border-radius: 5px;
  border: #1a1a1a 1px solid;
}

button.update {
  padding: 0.5rem 1.3rem;
  background: rgb(38, 176, 4);
  border-radius: 5px;
  border: #1a1a1a 1px solid;
}

button.edit {
  padding: 0.5rem 1.3rem;
  background: none;
  border-radius: 5px;
  border: #ffffff 1px solid;
}

.select-items {
  position: relative;
  background: #2b2f33;
  min-height: 50px;
  border: 1px solid #1a1a1a;
  border-radius: 3px;
  outline: none;
  cursor: pointer;
  color: rgb(255, 255, 255);
}


.alert-deleted {
  width: 100%;
  text-align: center;
  background: rgb(255, 82, 82);
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: #1a1a1a 1px solid;
  border-radius: 5px;
}

.alert-success {
  width: 100%;
  text-align: center;
  background: rgb(38, 176, 4);
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: #1a1a1a 1px solid;
  border-radius: 5px;
}

@media screen and (max-width: 900px) {
  body {
    font-size: 0.8rem;
  }

  button.delete {
    padding: 0.3rem 1.3rem;
    background: rgb(255, 82, 82);
    border-radius: 5px;
    border: #1a1a1a 1px solid;
  }
  
  button.update {
    padding: 0.3rem 1.3rem;
    background: rgb(38, 176, 4);
    border-radius: 5px;
    border: #1a1a1a 1px solid;
  }
  
  button.edit {
    padding: 0.3rem 1.3rem;
    background: none;
    border-radius: 5px;
    border: #ffffff 1px solid;
  }
}