.mod-container {
  width: 90%;
  max-width: 500px;
}

.box select {
  background: #2b2f33;
  color: rgb(255,255,255);
  height: 40px;
  width: 100%;
  outline: none;
  border-radius: 5px;
  border: 1px solid #1a1a1a;
  margin: 1rem 0;
}
.mod-container .mod-footer {
  display: flex;
  justify-content: flex-end;
}

.mod-footer button {
  margin: 0 1rem;
}
